In [ ]:
import pandas as pd
import numpy as np
import scanpy as sc
from glob import glob
import os
import pickle
from scipy import sparse
import anndata as ad

from matplotlib import pyplot as plt
import seaborn as sns
sns.set_palette(sns.color_palette("Spectral"))
sns.set_style("whitegrid")

from matplotlib.ticker import StrMethodFormatter
# ax.xaxis.set_major_formatter(StrMethodFormatter("{x:.2f}"))

import requests
from tqdm import tqdm

sample_list = pd.read_excel("../sample_list.xlsx")
gene_list = pd.read_csv("../gene_names_native.csv")
data_dir = "..\\data"

gsm_dict = {}

for root, folders, _ in os.walk(data_dir):
    for i in folders:
        if i.startswith("GSM"):
            gsm_dict[i.split("_")[0]] = os.path.join(root,i)
def merge_anndata(codes: list[str], output_name: str):
    adatas = []
    for gsm in tqdm(codes):
        with open('../preprocessing/pickles/{}.pkl'.format(gsm[3:]), 'rb') as File:
            adatas.append(pickle.load(File))
        
    combined_adata = ad.concat(
            adatas,
            axis=0,
            join='outer'
    )

    combined_adata.write_h5ad(output_name + ".h5ad")
    
    return combined_adata

# GSE 154775 (HS only)

GSMs = sample_list[sample_list["GSE"] == "GSE154775"]["GSM"].values

adata = merge_anndata(GSMs, "GSE154775")


# GSE 155850
GSMs = sample_list[sample_list["GSE"] == "GSE155850"]["GSM"].values

adata = merge_anndata(GSMs, "GSE154775")

GSMs = sample_list[sample_list["GSE"] == "GSE154775"]["GSM"].values

adata = merge_anndata(GSMs, "GSE154775")

GSMs = sample_list[sample_list["GSE"] == "GSE154775"]["GSM"].values

adata = merge_anndata(GSMs, "GSE154775")

GSMs = sample_list[sample_list["GSE"] == "GSE154775"]["GSM"].values

adata = merge_anndata(GSMs, "GSE154775")

In [2]:
import pandas as pd
data1 = [1, 2, 5, 4, 6, 7, 8, 5, 4, 3]
data2 = [2, 3, 6, 8, 5, 9, 10, 6, 7, 5]

# Combine data into a DataFrame
df = pd.DataFrame({
    'Value': data1 + data2,
    'Category': ['Group 1'] * len(data1) + ['Group 2'] * len(data2)
})

In [3]:
df

    Value Category
0       1  Group 1
1       2  Group 1
2       5  Group 1
3       4  Group 1
4       6  Group 1
5       7  Group 1
6       8  Group 1
7       5  Group 1
8       4  Group 1
9       3  Group 1
10      2  Group 2
11      3  Group 2
12      6  Group 2
13      8  Group 2
14      5  Group 2
15      9  Group 2
16     10  Group 2
17      6  Group 2
18      7  Group 2
19      5  Group 2